.reveal section img { background:none; border:none; box-shadow:none;}
pre.shell {
    background-color: #DFDFDF;
    padding: 6px;
    font-family: monospace;
    border: 2px solid grey;
}
code {
    background:#DFDFDF;
    padding:6px
                font-family: monospace;
}
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

